body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.bgimg {background-image: url("/static/images/gucciBackground.jpg")}
.bgimg2 {background-image: url("/static/images/spaceBackground.jpg")}
.container {
  width: 100%;
}
.left-half {
  position: relative;
  left: 50px;
  bottom: 0px;
  top: 30px;
  width: 50%;
}
.right-half {
  position: absolute;
  right: -100px;
  bottom: 0px;
  top: 300px;
  width: 50%;
}
.button-class {
  position: absolute;
  right: 400px;
  bottom: 0px;
  top: 350px;
  width: 7%;
  height: 7%;
}
